$primary: #006064;
$p-light: #428e92;
$p-dark: #00363a;
$secondary: #f44336;
$s-light: #ff7961;
$s-dark: #ba000d;
$text-light: #fff;
$text-dark: #000;

$xs: 8px;

$transition: 0.4s;

$opacity-80: 0.8;
$opacity-100: 1;