@import '../../vars.scss';

.footer {
  align-items: center;
  justify-content: space-between;
  background-color: $p-dark;
  transition: $transition;
}

.userInfo {
  display: flex;
  align-items: center;
}

.userAvatar {
  background-color: rgba($text-light, 0.1);
}

.userLink {
  transition: $transition;
  opacity: $opacity-80;

  &:hover {
    opacity: $opacity-100;
  }
}

.rsschoolInfoWrapper {
  display: flex;
  align-items: center;
}

.year {
  color: rgba($text-light, 0.5);
  transition: $transition;
}

.rsschoolLogo {
  display: block;
  width: 70px;
  height: 30px;
  background-color: $text-light;
  -webkit-mask: url(../../assets/images/rs_school.svg) no-repeat center;
  mask: url(../../assets/images/rs_school.svg) no-repeat center;
  transition: $transition;
  opacity: $opacity-80;

  &:hover {
    opacity: $opacity-100;
  }
}